/*Font Families*/
h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
  font-family: 'Merriweather', serif;
}

p,
a,
.btn {
  font-family: 'Raleway', sans-serif;
}
/*End Font Families*/

.bottom-border {
  border-bottom: 1px solid #e5e5e5;
}

nav {
  overflow-x: auto;
}

.card img {
  height: 250px;
  width: 200px;
}

.blog-post {
  margin-bottom: 2rem;
}

.blog-post-detail {

}

.back-button {
  padding: 2rem;
  text-align: center;
}
